USE [master]
GO
/****** Object:  Database [Tienda_De_Ropa]    Script Date: 20/11/2023 17:32:02 ******/
CREATE DATABASE [Tienda_De_Ropa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tienda_De_Ropa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tienda_De_Ropa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tienda_De_Ropa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tienda_De_Ropa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tienda_De_Ropa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tienda_De_Ropa]
GO
/****** Object:  Table [dbo].[Buzos]    Script Date: 20/11/2023 17:32:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buzos](
	[id_Buzo] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](50) NULL,
	[Talle] [varchar](50) NULL,
	[Modelo] [varchar](50) NULL,
	[Material] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Estilo] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pantalones]    Script Date: 20/11/2023 17:32:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pantalones](
	[id_Pantalon] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](50) NULL,
	[Talle] [int] NULL,
	[Modelo] [varchar](50) NULL,
	[Material] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Estilo] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Remeras]    Script Date: 20/11/2023 17:32:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remeras](
	[id_Remera] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](50) NULL,
	[Talle] [varchar](50) NULL,
	[Modelo] [varchar](50) NULL,
	[Material] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Estilo] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zapatillas]    Script Date: 20/11/2023 17:32:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zapatillas](
	[id_Zapatilla] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](50) NULL,
	[Talle] [int] NULL,
	[Modelo] [varchar](50) NULL,
	[Material] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Estilo] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buzos] ON 

INSERT [dbo].[Buzos] ([id_Buzo], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (1, N'Nike', N'L', N'Club Fleece', N'Felpa de algodón', N'Gris oscuro', N'Deportivo')
INSERT [dbo].[Buzos] ([id_Buzo], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (2, N'Adidas', N'M', N'Essentials 3-Stripes', N'Mezcla de algodón y poliéster', N'Negro con franjas blancas', N'Urbano')
INSERT [dbo].[Buzos] ([id_Buzo], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (3, N'Puma', N'XL', N'Amplified Crew Neck', N'Mezcla de algodón y poliéster', N'Azul marino', N'Deportivo')
SET IDENTITY_INSERT [dbo].[Buzos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pantalones] ON 

INSERT [dbo].[Pantalones] ([id_Pantalon], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (1, N'Levi''s', 32, N'501 Original Fit', N'Denim', N'Azul oscuro', N'Clásico')
INSERT [dbo].[Pantalones] ([id_Pantalon], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (2, N'Zara', 30, N'Slim Fit Chinos', N'Algodón y elastano', N'Beige', N'Casual')
INSERT [dbo].[Pantalones] ([id_Pantalon], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (3, N'H&M', 34, N'Joggers', N'Poliéster y algodón', N'Gris jaspeado', N'Deportivo')
SET IDENTITY_INSERT [dbo].[Pantalones] OFF
GO
SET IDENTITY_INSERT [dbo].[Remeras] ON 

INSERT [dbo].[Remeras] ([id_Remera], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (1, N'GAP', N'M', N'Basic Crew Neck', N'Algodón', N'Blanco', N'Clásico')
INSERT [dbo].[Remeras] ([id_Remera], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (2, N'Adidas', N'L', N'Trefoil Tee', N'Algodón', N'Negro', N'Deportivo')
INSERT [dbo].[Remeras] ([id_Remera], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (3, N'Zara', N'S', N'V-Neck Shirt', N'Algodón y poliéster', N'Gris melange', N'Casual')
SET IDENTITY_INSERT [dbo].[Remeras] OFF
GO
SET IDENTITY_INSERT [dbo].[Zapatillas] ON 

INSERT [dbo].[Zapatillas] ([id_Zapatilla], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (1, N'Nike', 40, N'Air Max 90', N'Cuero y tela', N'Blanco', N'Deportivo')
INSERT [dbo].[Zapatillas] ([id_Zapatilla], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (2, N'Adidas', 38, N'Ultraboost', N'Malla y sintético', N'Negro', N'Running')
INSERT [dbo].[Zapatillas] ([id_Zapatilla], [Marca], [Talle], [Modelo], [Material], [Color], [Estilo]) VALUES (3, N'Puma', 41, N'RS-X', N'Cuero y tela', N'Gris y azul', N'Retro')
SET IDENTITY_INSERT [dbo].[Zapatillas] OFF
GO
USE [master]
GO
