<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">IEFI Sistemas Y Organización</h1>
        <p class="lead">Trabajo IEFI para la materia Sistemas y Organizaciones desarrollo de un sistema usando ASP.NET Framework, Entity Framework y SQL Server.</p>
        <h2 class="lead"> <strong>Integrantes </strong></h2>
        <p class="lead">Tobias Tinaro ∣ Jeremias Vergara</p>
    </section>
</main>